body{
    font-family: 'Microsoft YaHer',sans-serif;
    
}

.mai-icon{
    background: rgb(64, 210, 177);
    color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-right: 20px;
}
.progress{
    margin-bottom: 15px;
}

/* 头像 */
.wh64{
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.mar_t15{
    margin-top: 15px;
}

.pad0{
    padding: 0px;
}
.page-header{

}
.page-header h1{
    margin: 0;
    font-size: 16px;

}

.search{
   padding: 10px;
   border: solid 1px #ddd;
   border-top: none; 
}

.taglist{
    
    padding-top: 15px; 
}
.taglist .alert{
    margin: 0 10px 10px 0;
}









footer{
font-weight: 400;
text-align: center;
padding: 20px;    
}
